.idea
.vscode
debug-test-cases
sample-test-cases
train-test-cases
out
src/**outputs
*.zip
*.txt
*.pdf
*.iml
*.class
mainsolution
src/graded
!zips/mainsolution.zip
!test-cases/*
!test-cases/inputs/*.txt
!test-cases/outputs/*.txt
